{{define "index"}} {{template "header"}}
<main role="main" style="padding: 10px">
  <div style="display: inline-flex; gap: 10px; max-width: 100%">
    {{ range . }}
    <div
      style="
        border-radius: 5px;
        background: yellow;
        color: black;
        width: 300px;
        padding: 10px;
        border-left: 5px solid blue;
      "
    >
      <span>{{.Title}}</span>
      <h4>{{.Anons}}</h4>
      <p>{{.Full_text}}</p>
      <a href="/post/{{.Id}}">Read more</a>
    </div>
    {{ end }}
  </div>
  <h1 class="text-3xl font-bold underline">Hello world!</h1>
  <h1>Hi</h1>
  <h2>Parametrs</h2>
  <p>Age:</p>
  <p>Money:</p>
  <p>Avg_point:</p>
  <p>Happiness:</p>
  <h2>Hobbies:</h2>
</main>
{{template "footer"}} {{end}}
